<h1>Mister Cocktail</h1>

<% @cocktails.each do |cocktail| %>
<h2>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
</h2>
<% end %>

<p>
<%= link_to "Ajoutez votre cocktail", new_cocktail_path %>
</p>
