<h1>Mister Cocktail</h1>

<% @cocktails.each do |cocktail| %>
<h2>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
</h2>
<% end %>

<p>
<%= link_to "Ajoutez votre cocktail", new_cocktail_path %>
</p>

<%= cl_image_tag("https://res.cloudinary.com/leoc/image/upload/v1573818925/cqdtlulmx5zsoda1hdfk.jpg", width: 400, crop: :fill) %>
